@model Cinema_Booking_System.Models.Cinema

@{
    ViewData["Title"] = "Delete Cinema";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Delete Cinema</h4>
            <p>Are you sure you want to delete this cinema?</p>
            <hr>
            <p class="mb-0">This action cannot be undone.</p>
        </div>

        <div class="card mb-3">
            <div class="card-header text-white bg-danger">
                <h5 class="card-title">@Model.FullName</h5>
            </div>

            <div class="row g-0">
                <div class="col-md-4 text-center">
                    <img src="@Model.LogoUrl" width="100%" alt="@Model.FullName" class="rounded" style="max-width: 250px; margin: 20px;" />
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.FullName</h5>
                        <p class="card-text">
                            <b>Description:</b><br />
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-outline-secondary" asp-action="Index">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Delete" class="btn btn-danger float-right" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
